body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #111;
  color: white;
}

.header {
  text-align: center;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 640px;
}

.container.profile p {
  line-height: 1.6;
  text-align: center;
}

.container-xl {
  max-width: 840px;
}

.navigate {
  margin: 10px 0;
}

.navigate li {
  display: inline;
  margin: 0 10px;
}

iframe.reel-video {
  max-width: 100%;
  height: 340px;
}

iframe.bg-video {
  background: 0;
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -4;
}

.video-thumb {
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  float: left;
}

@media screen and (max-width: 640px) {
  .video-thumb {
    width: 100%;
    padding: 5px;
  }
}

.video-thumb:hover p {
  opacity: 1;
}

.video-thumb p {
  line-height: 1.4;
  margin: 10px;
  opacity: 0;
  min-height: 45px;
}

@media screen and (max-width: 640px) {
  .video-thumb p {
    font-size: 14px;
    min-height: 20px;
    margin: 0 10px;
  }
}

.video-thumb h3 {
  margin: 10px;
  text-transform: uppercase;
  font-weight: normal;
}

.video-thumb img {
  max-width: 100%;
  height: 200px;
}

@media screen and (max-width: 640px) {
  .video-thumb img {
    max-width: 100%;
    height: 200px;
  }
}

.video-thumb a:link {
  opacity: 0.9;
  color: white;
}

.video-thumb a:hover {
  opacity: 1;
  color: white;
}

.ytp-hide-controls .ytp-watermark {
  display: none!important;
}

a:link, a:visited {
  text-decoration: none;
}

a:link {
  opacity: 0.75;
  color: white;
}

a:hover {
  opacity: 1;
  color: white;
}

a:visited {
  opacity: 1;
  color: white;
}
